In [1]:
import numpy as np
import pandas as pd
np.random.seed(0)
# transactions
left_df = pd.DataFrame({'transaction_id': ['A', 'B', 'C', 'D'], 
                       'user_id': ['Peter', 'John', 'John', 'Anna'],
                       'value': np.random.randn(4),
                      })
# users
right_df = pd.DataFrame({'user_id': ['Paul', 'Mary', 'John',
                                     'Anna'],
                        'favorite_color': ['blue', 'blue', 'red', 
                                           np.NaN],
                       })

In [2]:
left_df.merge(right_df, on='user_id', how='left')

  transaction_id user_id     value favorite_color
0              A   Peter  1.764052            NaN
1              B    John  0.400157            red
2              C    John  0.978738            red
3              D    Anna  2.240893            NaN